:root {
    --btn-horizontal-spacing: 10px; /* Горизонтальный отступ между кнопками */
    --btn-vertical-spacing: 10px; /* Вертикальный отступ кнопок */
    --btn-padding: 20px; /* Отступы внутри кнопок */
    --btn-height: 35px; /* Высота кнопок */
    --btn-width: 80px; /* Ширина кнопок */
}